* {
  margin: 0;
}

.home-container {
  background-color: #f9f5f0;
  /* background: linear-gradient(to bottom, #E0F2FE, #F3F8FF); */
  display: flex;
  height: 100vh;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}
