.dropdown-container {
  position: relative;
  display: inline-block;
}

.dropdown-label {
  cursor: pointer;
  font-size: 19px;
  padding: 5px 10px;
  transition: color 0.5s ease;
}
.dropdown-label:hover {
  color: rgb(18, 170, 170);
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  list-style: none;
  padding: 0;
  margin: 0;
  width: 200px;
  z-index: 1000;
}

.dropdown-menu li {
  padding: 8px 16px;
  margin: 0;
}

.dropdown-menu li a {
  text-decoration: none;
  color: black;
}

.dropdown-menu li:hover,
.dropdown-menu a:hover {
  background-color: #f1f1f1;
  color: rgb(18, 170, 170);
}

.dropdown-container:hover .dropdown-menu {
  display: block;
}
