.create-event-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 90vh;
  align-items: center;
  justify-content: center;
}

.create-event-section__form {
  display: flex;
  flex-direction: column;
  width: 27%;
  height: auto;
  gap: 50px;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--main-white-color);
  border-radius: 8px;
  padding: 50px 0;
  color: var(--main-white-color);
  margin-top: 150px;
  margin-bottom: 100px;
}

#image-fields {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
#image-fields input {
  width: 50%;
}

#image-label {
  font-size: 1.25rem;
}

.create-event-section__form input[type="text"],
select {
  width: 70%;
  height: auto;
  font-size: 1.25rem;
  padding: 10px;
  border: none;
  border-radius: 8px;
}

#submit-button {
  width: 40%;
  height: auto;
  padding: 10px 4px;
  font-size: 1.25rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: ease-in-out 0.7s;
}
#submit-button:hover {
  background-color: lightskyblue;
  color: white;
}

.date-picker-container {
  display: flex;
  position: relative;
  align-items: center;
  width: 100%;
  justify-content: center;
}

#clear-dates {
  position: absolute;
  top: 7px;
  right: 85px;
  width: 30px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

@media (min-width: 1550.1px) and (max-width: 1700px) {
  .date-input {
    font-size: 15px !important;
  }
}

@media (min-width: 1340.1px) and (max-width: 1550px) {
  .date-input {
    font-size: 13px !important;
  }
  #clear-dates {
    top: 2px;
    right: 70px;
  }
}

@media (min-width: 1000.1px) and (max-width: 1340px) {
  .date-input {
    font-size: 17px !important;
  }
  .create-event-section__form {
    width: 45%;
  }
}

@media (min-width: 830.1px) and (max-width: 1000px) {
  .date-input {
    font-size: 15px !important;
  }
  .create-event-section__form {
    width: 50%;
  }
}

@media (min-width: 570.1px) and (max-width: 830px) {
  .date-input {
    font-size: 15px !important;
  }
  .create-event-section__form {
    width: 60%;
  }

  @media (max-width: 690px) {
    .date-input {
      font-size: 12px !important;
    }
    #clear-dates {
      top: 2px;
      right: 70px;
    }
  }
}

@media (min-width: 350px) and (max-width: 570px) {
  .header-list li a {
    font-size: 25px;
  }
  .date-input {
    font-size: 12px !important;
  }
  .create-event-section__form {
    width: 80%;
  }
  #clear-dates {
    top: 5px;
    right: 65px;
    font-size: 11px;
  }
  @media (max-width: 430px) {
    .header-list li a {
      font-size: 20px;
    }
    #clear-dates {
      right: 55px;
    }
    .date-input {
      font-size: 11px !important;
    }
  }
  @media (max-width: 390px) {
    .create-event-section__form {
      width: 90%;
    }
  }
}
