@import "./header.css";
@import "./createEventPage.css";
@import "./variables.css";
@import "./calendar.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgba(0, 0, 0, 0.85);
}
